hr {
    width: 30%;
    background-color: aliceblue;
}

.header {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    position: relative;
}

.profile-pic {
    float: right;
    margin-right: 10px;
}

.intro {
    background-color: azure;
    padding: 50px;
    
}

.background {
    position: relative;
    text-align: center;
    
    margin-right: 20%;
}

.pic1 {
    /* The image used */
    background-image: url("resources/yosemite.JPG");
  
    /* Set a specific height */
    height: 100vh;
    width: 100vw;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic2 {
    /* The image used */
    background-image: url("resources/osaka.JPG");
  
    /* Set a specific height */
    min-height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic3 {
    /* The image used */
    background-image: url("resources/beach.JPG");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pic4 {
    /* The image used */
    background-image: url("resources/clouds.JPG");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
